[Unit]
Description=Update SSH keys from metadata script
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /etc/simplevm/add_keys.sh
WorkingDirectory=/etc/simplevm
EnvironmentFile=/etc/simplevm/metadata_config.env
User=root
StandardOutput=append:/var/log/metadata.log
StandardError=append:/var/log/metadata.log
Restart=on-failure

[Install]
WantedBy=multi-user.target