<user-mapping>

    <authorize
        username="denbi"
        password="denbi">

        <connection name="Ubuntu Server (German Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">de-de-qwertz</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (US Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">en-us-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (UK Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">en-gb-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (French Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">fr-fr-azerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Spanish Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">es-es-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Latin America Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">es-latam-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Italian Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">it-it-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Portuguese Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">pt-pt-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Portuguese - Brazil Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">pt-br-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Dutch Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">nl-nl-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Danish Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">da-dk-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Norwegian Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">no-no-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Swedish Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">sv-se-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Finnish Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">fi-fi-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Japanese Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">ja-jp-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Korean Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">ko-kr-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Chinese (Simplified) Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">zh-cn-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

        <connection name="Ubuntu Server (Russian Keyboard Layout)">
            <protocol>rdp</protocol>
            <param name="hostname">127.0.0.1</param>
            <param name="port">3389</param>
            <param name="server-layout">ru-ru-qwerty</param>
            <param name="username">ubuntu</param>
            <param name="password">denbi</param>
        </connection>

    </authorize>

</user-mapping>
