---
- name: Update apt cache
  ansible.builtin.apt:
    upgrade: true
    update_cache: true

- name: Install xfce4
  ansible.builtin.apt:
    name: xfce4*
    state: present

- name: Remove snap Firefox
  become: true
  snap:
    name: firefox
    state: absent


- name: Ensure software-properties-common is installed
  become: true
  ansible.builtin.apt:
    name: software-properties-common
    state: present
    update_cache: true

- name: Add MozillaTeam PPA
  become: true
  ansible.builtin.apt_repository:
    repo: ppa:mozillateam/ppa
    state: present
    update_cache: true

- name: Configure APT pinning for Mozilla Firefox
  become: true
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/mozilla-firefox
    content: |
      Package: firefox*
      Pin: release o=LP-PPA-mozillateam
      Pin-Priority: 501

- name: Install Firefox from APT
  become: true
  ansible.builtin.apt:
    name: firefox
    state: latest
    update_cache: true

- name: Install xrdp and other goodies
  ansible.builtin.apt:
    update_cache: true
    name:
      - xrdp
      - xorg
      - dbus-x11
      - x11-xserver-utils
    state: present

- name: Config xrdp to start xfce4
  ansible.builtin.lineinfile:
    path: /etc/xrdp/xrdp.ini
    line: exec startxfce4
  notify: Restart xrdp
